@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;

    font-family: 'Poppins', sans-serif;
}

.header_name {
    margin-bottom: 0!important;
}

.div-button {
    position: absolute !important;

    right: 0 !important;
    bottom: 0 !important;

    margin-right: 5%;
    margin-bottom: 5%;
}